{% extends "base.html" %}
{% block title %}BID FLOW - Login{% endblock %}

{% block main_classes %}flex items-center justify-center bg-gray-100{% endblock %}

{% block content %}
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
        <div class="flex justify-center mb-6">
            <!-- Adicione seu logotipo aqui -->
            <svg class="h-12 w-12 text-luxgold" fill="currentColor" viewBox="0 0 20 20">
                <circle cx="10" cy="10" r="8" />
            </svg>
        </div>
        <h1 class="text-3xl font-semibold text-center mb-6 text-luxgold">Acesse sua Conta</h1>
        <form method="post" action="{{ url_for('login') }}" class="space-y-6">
            <div>
                <label for="email" class="block text-gray-700 mb-2">Email</label>
                <input type="email" name="email" id="email" required
                    class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-luxgold focus:border-transparent transition duration-200"
                    placeholder="Seu email">
            </div>
            <div>
                <label for="password" class="block text-gray-700 mb-2">Senha</label>
                <input type="password" name="password" id="password" required
                    class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-luxgold focus:border-transparent transition duration-200"
                    placeholder="Sua senha">
            </div>
            <button type="submit"
                class="w-full py-3 px-4 bg-luxgold text-luxwhite font-semibold rounded-lg hover:bg-luxbrown transition duration-200">
                Entrar
            </button>
        </form>

        <div class="mt-6 flex items-center justify-between">
            <span class="border-b w-1/5 lg:w-1/4"></span>
            <span class="text-xs text-gray-500 uppercase">Ou</span>
            <span class="border-b w-1/5 lg:w-1/4"></span>
        </div>

        <div class="mt-6 text-center">
            <p class="text-sm text-gray-600">
                Não tem uma conta? 
                <a href="{{ url_for('register') }}" class="text-luxgold font-medium hover:underline">Registar-se</a>
            </p>
        </div>
    </div>
{% endblock %}
